<!DOCTYPE html>
<html>
<head>
  <title>Account Activation</title>
</head>
<body>
  <h2>Welcome!</h2>
  <p>Dear User,</p>
  <p>You have requested to Forget password, please verify your email by entering the OTP below:</p>
  
  <h3>Your OTP: <b>${otp}</b></h3>
  
  <p><b>Note:</b> This OTP is valid for <b>10 minute</b> only. Please enter this OTP in the verify OTP API or on the verification page to complete activation.</p>
  
  <p>For your security, please do not share this OTP with anyone.</p>

  <p>If you are not this, please ignore this email or contact our support team.</p>
  
  <p>Thank you,</p>
  <p><b>Our Team</b></p>
</body>
</html>
